<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>&nbsp;</h3>

          <p>Environment</p>
        </div>
        <div class="icon">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </div>
        <a href="/environment" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>&nbsp;</h3>

          <p>Service</p>
        </div>
        <div class="icon">
          <i class="fa fa-television" aria-hidden="true"></i>
        </div>
        <a href="/service" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>&nbsp;</h3>

          <p>Variable</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-o" aria-hidden="true"></i></i>
        </div>
        <a href="/variable" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
</section>