-# .title_environment
-#  %h3{:style => "text-align: center; padding:10px;"} Environment
-# .show_environment
-#  %table.table.table-striped
-#   %thead
-#    %tr
-#     %th Id
-#     %th Name
-#     %th Created_at
-#     %th Updated_at
-#     %th{:colspan => '3'} Option
-#    %tbody
-#    - @environment['records'].each do |e|
-#     %tr
-#      %td= e['id']
-#      %td= e['name']
-#      %td= e['created_at']
-#      %td= e['updated_at']
-#      %td= link_to "show", environment_path
-#      %td= link_to "edit", edit_environment_path(e['id'])
-# .col-lg-offset-5.col-md-6
-#  - if(@total_page != 1)
-#   %ul#pagination-demo.pagination-sm.pagination{:style => "text-align:center"}
-#    %li.prev
-#     %a.page-link{:href => "http://localhost:3000/environment?page=#{@prev}"} Previous
-#    - (@first..@last).each do |p|
-#     - if p == @cur_page
-#      %li.page-item.active
-#       %a.page-link{:href => "http://localhost:3000/environment?page=#{p}"}=p
-#     -else
-#      %li.page-item
-#       %a.page-link{:href => "http://localhost:3000/environment?page=#{p}"}=p
-#    %li.next.disabled
-#     %a.page-link{:href => "http://localhost:3000/environment?page=#{@next}"} Next
-# %h1#show
%h1#result
:javascript
 $(document).ready(function(){
    var val_token = localStorage.access_token;
    var val_client = localStorage.client;
    var val_uid = localStorage.uid;
   $.ajax({
         url: 'http://core-nova.ingress.v2.cloud.edumall.io/api/environment',
            type: 'GET',
            dataType: 'json',
            headers: {
                'access-token': val_token,
                'client': val_client,
                'uid': val_uid,
            },
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
               // CallBack(result);
               a = data
               id = a.records["1"].id;
               name = a.records["1"].name;
               created_at = a.records["1"].created_at;
               updated_at = a.records["1"].updated_at;
               alert(id);
            },
               error: function (error) {
               console.log(error)
               alert('fails');
            }
  });
 });
