.title_environment
 %h3{:style => "text-align: center; padding:10px;"} Show Environment
.show_environment
 %table.table.table-striped
  %thead
   %tr
    %th Id
    %th Name
    %th Created_at
    %th Updated_at
   %tbody
    %tr
     %td f
     %td sf
     %td sf
     %td sf